@import url('https://fonts.googleapis.com/css?family=Space+Grotesk');

body {
	font-family: "Space Grotesk", sans-serif;
	font-size: 16px;
	line-height: 18px;
	height: 100%;
	margin: 0 auto;
	color: #111;
}

#outer {
	padding: 5% 0;
}

#inner {
	text-align: center;
}

.small {
	font-size: 10px;
}
